# database name
DB_USER=test
DB_PW=test
DB_HOST=localhost
DB_PORT=5436
DB_NAME=test_report_db
PORT=8083
NODE_ENV=test
DEBUG=true

NO_SSL=true
DEACTIVATE_AD_AUTH=true

#LOG_LOCATION=/optional/path/to/existing/dir

